doctype
html( lang="en")
    head
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous")
        link(rel="stylesheet" href="all.min.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="style.css")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Template
    body
        nav
            .container 
                .logo LUMA
                ul#navul
                    li
                        a(href="#") Home
                    li
                        a(href="#") Products
                    li
                        a(href="#") About
                    li
                        a(href="#") Contact
                    li
                        a(href="#") Blog
                    li
                        a(href="#") Styleguide
                    li
                        a(href="#") License
                .icons
                    i.fas.fa-shopping-bag
                    i.fas.fa-moon#sun
                    .hum
                        i.fas.fa-bars#bars
        header#head
            h1 Stylish modern lighting options
            button  shop the fall collection
        aside 
            header 
                h5 your cart 
                i.fas.fa-times 
            section
                h5 no items found
                button keep shopping
        section#brands
            .container 
                img(src="images/brands/sonysvg.svg" alt="sony")
                img(src="images/brands/webflow.svg" alt="webflow")
                img(src="images/brands/samsung.svg" alt="samsung")
                img(src="images/brands/logitech.svg" alt="logitech")
                img(src="images/brands/lenovo.svg" alt="lenovo")
                img(src="images/brands/waitrose.svg" alt="waitrose")
        section#lights
            .container 
                .h2
                    h2 The right light can transform any environment
                    .imgs 
                        .img1
                            .overlay 
                            button view product
                        .img2
                            .overlay 
                            button view product
                    .text
                        .h3 
                            h3 Meet the Belmont, by Pablo Designs
                        p By fusing the highest technical sensibilities with the most appropriate material palette, Pablo is able to create unique, timeless designs with the power to transform any environment.
                        button discover more products
        section#products
            .container 
                header 
                    h6 Shop Lighting
                    h3 Stylish modern lighting options
                .products-images 
                    .product 
                        .img.img1
                            .picture
                                .overlay 
                                button VIEW PRODUCT
                        .text
                            a.name(href="#") Giraffa
                            code.price 99.99
                    .product 
                        .img.img2
                            .picture
                                .overlay 
                                button VIEW PRODUCT
                        .text
                            a.name(href="#") Solis
                            code.price 77.99
                    .product 
                        .img.img3
                            .picture
                                .note featuerd 
                                .overlay 
                                button VIEW PRODUCT
                        .text
                            a.name(href="#") corner office 
                            code.price 190.00
                    .product 
                        .img.img4
                            .picture
                                .overlay 
                                button VIEW PRODUCT
                        .text
                            a.name(href="#") cielo 
                            code.price 89.99
                    .product 
                        .img.img5
                            .picture
                                .note on sale 
                                .overlay 
                                button VIEW PRODUCT
                        .text
                            a.name(href="#") uma mini
                            code.price 155.99
                    .product 
                        .img.img6
                            .picture
                                .overlay 
                                button VIEW PRODUCT
                        .text
                            a.name(href="#") contour
                            code.price 245.99
                    .product 
                        .img.img7
                            .picture
                                .overlay 
                                button VIEW PRODUCT
                        .text
                            a.name(href="#") circa
                            code.price 398.99
                    .product 
                        .img.img8
                            .picture
                                .overlay 
                                button VIEW PRODUCT
                        .text
                            a.name(href="#") Bola sphere
                            code.price 789.99
                    .product 
                        .img.img9
                            .picture
                                .note on sale 
                                .overlay 
                                button VIEW PRODUCT
                        .text
                            a.name(href="#") circa
                            code.price 398.99
                    .product 
                        .img.img10
                            .picture
                                .overlay 
                                button VIEW PRODUCT
                        .text
                            a.name(href="#") uma mini
                            code.price 155.99
                    .product 
                        .img.img11
                            .picture
                                .overlay 
                                button VIEW PRODUCT
                        .text
                            a.name(href="#") Solis
                            code.price 77.99
                    .product 
                        .img.img12
                            .picture
                                .note featuerd 
                                .overlay 
                                button VIEW PRODUCT
                        .text
                            a.name(href="#") Solis
                            code.price 77.99
            button VIEW ALL PRODUCTS
        section#attachementBG
        section#what
            .container
                .left
                    div what they say
                    q We’ve been long fans of the modern, yet inviting lighting that Pablo Designs has to offer.
                    button SHOP THE FALL COLLECTION
                .right
        //section#our
            .container
                header 
                    h6 OUR ARTICLES
                    h3 Genius Blog Posts about the Use of Lighting in Your Home
                .articles
                    .article.article1
                        .pic
                            .img.img1
                                .overlay
                                .note INTERVIEW
                        .text
                            h3 #[a(href="#") 8 Genius Ways to Use Lighting in Your Home]
                            a(href="#") EXPLORE ARTICLE
                    .article.article2
                        .pic
                            .img.img2
                                .overlay
                                .note INTERVIEW
                        .text
                            h3 #[a(href="#") The Best Modern Lamp Sets For Your Bedroom]
                            a(href="#") EXPLORE ARTICLE
                    .article.article3
                        .pic
                            .img.img3
                                .overlay
                                .note INTERVIEW
                        .text
                            h3 #[a(href="#") 12 Table and Lamp Pairings for Your Home]
                            a(href="#") EXPLORE ARTICLE
        section#view
            .toEscapeTheRelativeInScssFileMixin
                .pics
                    .img.img1
                        .overlay
                    .img.img2
                        .overlay
                    .img.img3
                        .overlay
                    .img.img4
                        .overlay
                    .img.img5
                        .overlay
                    .img.img6
                        .overlay
            .texts
                .container
                    div
                        h5 Free Shipping
                        p(href="") within USA
                    div
                        h5 Easy Returns
                        p(href="") within 7 days
                    div
                        h5 1 year Warranty
                        p(href="") ON ALL LAMPS
        section#links
            .container 
                h5 LUMA
                ul.pages pages
                    li #[a(href="#") Homepage1]
                    li #[a(href="#") Homepage2]
                    li #[a(href="#") Blog]
                    li #[a(href="#") All Prducts]
                ul.Subpage Subpage
                    li #[a(href="#") About1]
                    li #[a(href="#") About2]
                    li #[a(href="#") Contact1]
                    li #[a(href="#") Contact2]
                ul.Additional Additional
                    li #[a(href="#") Promo]
                    li #[a(href="#") Styleguide]
                    li #[a(href="#") License] 
                ul.Social Social Networks
                    li #[a(href="#") Facebook]
                    li #[a(href="#") Instagram]
                    li #[a(href="#") Twitter]
                    li #[a(href="#") Youtube]
        footer
            a(href="#") The images featured in this kit are by Pablo Designs. They are not available for repurposing in any way.
            a(href="#") Powered by MuhmmadFK
            a(href="https://luma-template.webflow.io/") Designed by webflow
        script(src="code.js")